.registration-confirmation-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.registration-confirmation-page-top-container {
  width: 100%;
  height: 791px;
  display: flex;
  align-items: center;
  border-width: 0px;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(to bottom, #9fedd7 0%, #026670 100%);
  background-position: 0% 40%;
}
.registration-confirmation-page-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.registration-confirmation-page-content-container {
  width: 925px;
  height: 441px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-yellow);
}
.registration-confirmation-page-text {
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
}
.registration-confirmation-page-text1 {
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
}
.registration-confirmation-page-container1 {
  width: 195px;
  height: 63px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: flex-start;
}
.registration-confirmation-page-navlink {
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-yellow);
}
@media(max-width: 991px) {
  .registration-confirmation-page-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .registration-confirmation-page-hero {
    justify-content: center;
  }
  .registration-confirmation-page-content-container {
    align-items: center;
  }
  .registration-confirmation-page-text {
    font-size: 2.5rem;
  }
}
@media(max-width: 479px) {
  .registration-confirmation-page-text {
    font-size: 2rem;
    text-align: center;
  }
}
