.test-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #D9D9D9;
}
.test-container01 {
  flex: 0 0 auto;
  width: 793px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.test-content-container {
  width: 793px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.test-text01 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.test-textinput {
  flex: 1;
  width: 610px;
  height: 41px;
  align-self: flex-start;
  margin-top: 0px;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.test-container02 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.test-text02 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-right: 200px;
}
.test-text03 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: 0px;
  margin-right: 0px;
}
.test-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.test-container04 {
  width: 621px;
  height: 45px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.test-textinput01 {
  width: 270px;
  height: 43px;
  border-width: 0px;
  margin-right: 15px;
}
.test-textinput02 {
  width: 270px;
  margin-left: 15px;
  border-width: 0px;
}
.test-container05 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  justify-content: flex-start;
}
.test-text04 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-right: 140px;
}
.test-text05 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: 0px;
  margin-right: 0px;
}
.test-container06 {
  width: 598px;
  height: 45px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.test-textinput03 {
  width: 240px;
  height: 43px;
  border-width: 0px;
  margin-right: 15px;
}
.test-textinput04 {
  width: 240px;
  margin-left: 15px;
  border-width: 0px;
}
.test-container07 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.test-container08 {
  flex: 0 0 auto;
  width: 793px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.test-content-container1 {
  width: 793px;
  height: 471px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.test-container09 {
  width: 100%;
  height: 85px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.test-text07 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.test-textinput05 {
  flex: 0;
  width: 610px;
  height: 41px;
  align-self: flex-start;
  margin-top: 0px;
  border-width: 0px;
  text-transform: capitalize;
}
.test-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.test-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.test-text08 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.test-textinput06 {
  width: 270px;
  height: 43px;
  border-width: 0px;
  margin-right: 0px;
}
.test-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.test-text09 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.test-textinput07 {
  width: 270px;
  height: 43px;
  border-width: 0px;
  margin-right: 15px;
}
.test-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.test-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.test-text10 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.test-textinput08 {
  width: 200px;
  height: 43px;
  border-width: 0px;
  margin-right: 0px;
}
.test-container15 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.test-text11 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.test-textinput09 {
  width: 200px;
  height: 43px;
  border-width: 0px;
  margin-right: 15px;
}
.test-container16 {
  flex: 0 0 auto;
  width: 195px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.test-container17 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.test-container18 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
@media(max-width: 767px) {
  .test-content-container {
    align-items: center;
  }
  .test-text {
    font-size: 2.5rem;
  }
  .test-content-container1 {
    align-items: center;
  }
  .test-text06 {
    font-size: 2.5rem;
  }
}
@media(max-width: 479px) {
  .test-text {
    font-size: 2rem;
    text-align: center;
  }
  .test-text06 {
    font-size: 2rem;
    text-align: center;
  }
}
