.hotels-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.hotels-page-top-container {
  width: 100%;
  height: 943px;
  display: flex;
  align-items: center;
  border-width: 0px;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #9fedd7 0%, #026670 100%);
}
.hotels-page-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1150px;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.hotels-page-search-container {
  flex: 0 0 auto;
  width: 1135px;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, #edeae5 0%, #026670 100%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.hotels-page-container1 {
  width: auto;
  height: 33px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.hotels-page-text {
  align-self: flex-end;
  margin-right: 195px;
}
.hotels-page-text1 {
  align-self: flex-end;
  margin-right: 95px;
}
.hotels-page-text2 {
  align-self: flex-end;
  margin-right: 120px;
}
.hotels-page-text3 {
  align-self: flex-end;
  margin-right: 80px;
}
.hotels-page-text4 {
  align-self: flex-end;
}
.hotels-page-container2 {
  width: auto;
  height: 53px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.hotels-page-textinput {
  width: 266px;
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
}
.hotels-page-textinput1 {
  width: 176px;
  border-width: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.hotels-page-textinput2 {
  width: 176px;
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hotels-page-textinput3 {
  width: 136px;
  border-width: 0px;
  margin-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.hotels-page-textinput4 {
  width: 136px;
  border-width: 0px;
  margin-right: var(--dl-space-space-doubleunit);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hotels-page-filter-container {
  width: 1135px;
  height: 53px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-grey);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-primary-darkgreen);
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-radius4);
  border-bottom-right-radius: var(--dl-radius-radius-radius4);
}
.hotels-page-select {
  width: 145px;
  height: 35px;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 40px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
}
.hotels-page-select1 {
  width: 145px;
  height: 35px;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 40px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
}
.hotels-page-select2 {
  width: 145px;
  height: 35px;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 40px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
}
.hotels-page-button {
  width: auto;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-yellow);
}
@media(max-width: 991px) {
  .hotels-page-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .hotels-page-hero {
    justify-content: center;
  }
}
