.search-button-container {
  display: flex;
  position: relative;
}
.search-button-button {
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-yellow);
}
.search-button-text2 {
  background-color: var(--dl-color-primary-yellow);
}

.search-button-root-class-name1 {
  left: 0px;
  bottom: 0px;
  position: 0px;
  align-self: flex-end;
}
.search-button-root-class-name2 {
  left: 0px;
  bottom: 0px;
  position: 0px;
  align-self: flex-end;
}
